@model int

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div id="results">
    @if (TempData["opertionResult"] != null)
    {
        <h3>@TempData["opertionResult"]</h3>
    }
    @await Component.InvokeAsync("RecomList", Model)
</div>

    

