@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
}

<div class="row">
    <div class="col-md-4 col-md-offset-7">
        <div class="panel panel-success">
            <div class="panel-heading">
                <strong class="">@ViewData["Title"]</strong>
            </div>
            <div class="panel-body">
                <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Login" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <a asp-action="Login">Have an account? Try to Log In!</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
